@import url('https://fonts.google.com/noto/specimen/Noto+Sans+Lao?query=Noto+Sans+Lao');
body {
  margin: 0;
  font-family: 'Noto Sans Lao';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
